<div class="container">
<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="form-group col-md-4">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, class:"form-control form-control-sm", autofocus: true, autocomplete: "email" %>
    </div>
  </div>

<div class="col-12">
    <div class="actions">
      <br><%= f.submit "Send password instructions", class:"btn btn-primary w-25 p-2 font-weight-bolder" %>
    </div>
  <% end %>
</div>

<div class="col-12">
  <%= render "devise/shared/links" %>
</div>

</div>
