<div class="container">

  <div class="row">
    <div class="col-12">
      <%= simple_form_for @animal, url: animals_path, method: :post do |f| %>
        <h2>Create Animal</h2>
        <%= f.input :name, label: "Name:" %>
        <%= f.input :species, label: "Species:" %>
        <%= f.input :dangerosity, label: "Dangerosity:" %>
        <%= f.input :needs, label: "Needs:" %>
        <button type="button" class="btn btn-outline-primary">
          <%= f.button :submit, value: 'Create', "data-disable-with" => "Creating.." %>
        </button>
      <% end %>
    </div>
  </div>

</div>
