<div class="container">
<h1>All Missions</h1>
  <div class="row">
    <div class="col-12">
      <div class="card-deck">

<% @missions.each do |mission| %>
<div class="card" style="width: 18rem;">
  <%= image_tag "pets_big.png", width:"150px" %>
  <div class="card-body">
    <h5 class="card-title">Mission from <%= mission.start_date %> to <%= mission.end_date %></h5>
    <p class="card-text"><p>Animal : <%= mission.animal.name %> </p>
                <p>City : <%= mission.city %></p></p>
    <a href="#" class="btn btn-primary">Apply</a>
  </div>
</div>
<% end %>
    </div>
      </div>

  </div>

</div>
