<div class="container">
<h1>All Missions</h1>
<<<<<<< HEAD
<div class="cards">
  <% @missions.each do |mission| %>
      <div class="card">
<!--         <%= image_tag "1977-elliott-05.jpg"%> -->
          <% if mission.animal.photo.attached? %>
          <%= cl_image_tag mission.animal.photo.key%>
          <% end %>
        <h2><i class="far fa-calendar-alt fa-fw"></i> <%= mission.start_date %> - <%= mission.end_date %></h2>
        <div class="card-body">
          <div class="card-text">
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-paw fa-fw"></i></span> <b><%= mission.animal.name %></b>, <%= mission.animal.species %></li>
              <li><span class="fa-li"><i class="fas fa-hand-holding-heart fw"></i></span> <%= mission.animal.needs %></li>
              <li><span class="fa-li"><i class="fas fa-map-marker-alt fa-fw"></i></span> <%= mission.city %></li>
            </ul>
            <%= link_to 'Apply', animal_mission_apply_path(mission, mission.animal), method: :post, class: 'btn btn-primary rounded' %>
          </div>
        </div>
      </div>
    <% end %>
</div>

