<div class="container">
<h1>All Missions</h1>
  <div class="row">
    <div class="col-12">
      <div class="card-deck">
        <% @missions.each do |mission| %>
          <div class="card" style="width: 18rem;">
            <img src="https://source.unsplash.com/random/jcosens" class="card-img-top" alt="animal random">
            <div class="card-body">
              <p class="card-text">
                <p>Mission from <%= mission.start_date %> to <%= mission.end_date %></p>
                <p>Animal : <%= mission.animal_id %> </p>
                <p>City : <%= mission.city %></p>
                <%= link_to 'Apply', animal_mission_apply_path(mission, mission.animal), method: :post %>
                <p>candidates: <%= mission.candidates['candidates_email'] %></p>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
