<div class="container">

  <div class="row">
    <div class="col-12">
      <h1>Create new mission</h1>
      <%= simple_form_for @mission, url: animal_missions_path(@animal), method: :post do |f| %>

        <%= f.input :start_date, placeholder: "01/11/2020" %>
        <%= f.input :end_date, placeholder: "01/11/2020" %>
        <%= f.input :fee %>
        <%= f.input :city %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
