<h1>Mission from <%= @mission.start_date %> to <%= @mission.end_date %></h1>
<p>Animal to pet : <%= @mission.animal_id %> </p>
<p>Where : <%= @mission.city %> </p>
<p>This mission is paid <b><%= @mission.fee %> € </b>/day.</p>

