<h1><%= Mission details %></h1>
<p><b>Animal to watch :</b><%= @mission.animal.name %></p>
<p><b>Where :</b><%= @mission.animal.city %></p>
<p><b>Start date:<%= @mission.animal.start_date %></b></p>
<p><b>Start date:<%= @mission.animal.end_date %></b></p>


